body {
    padding: 0;
    margin: 0;
    font-family: "europa", sans-serif;
}

.home-wrapper {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.home-title {
    margin-left: 8vw;
    font-size: 1.5em;
    padding-top: 40px;
    letter-spacing: .6em;
}

.home-text {
    font-size: 1.1em;
    margin-left: 8vw;
    margin-top: 20px;
}

.home-indent {
    margin-left: 20px;
}

.home-links {
    font-size: 1.5em;
    margin-top: 150px;
    margin-left: 68vw;
    letter-spacing: 0.4em;
    line-height: 3em;
}

.home-wrapper a:link, .home-wrapper a:visited {
    text-decoration-line: none;
    color: #000;
}

.home-wrapper a:hover, .home-wrapper a:active {
    color: #e31313;
}




/*
.about {
    background-color: #010101;
    color: #c2c2c2;
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    grid-column-gap: 20px;

}

.about-profile {
    background: url("../img/profile.jpg") no-repeat;
    background-position: center;
    grid-row-end: span 5;
}

.about-text {
    display: grid;
    grid-row: 1fr 2fr 1fr;
    grid-row-gap: 30%;
    margin: 20px 0;
}

.about-text-text {
    font-size: 1em;
}

.about-text-title, .about-text-portfolio {
    font-size: 2em;
    letter-spacing: 0.4em;
}

.about-text-portfolio {
    align-self: :
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8fr 1fr;
    background-color: #010101;
    color: #c2c2c2;
    background-size: cover;
}

.portfolio-illustration {
    background: url("../img/illustration.jpg") no-repeat;
}

.portfolio-photography {
    background: url("../img/photography.jpg") no-repeat;
}

.portfolio-web {
    background: url("../img/web.jpg") no-repeat;
}

*/


/*************PORTFOLIO WRAPPER*************/
.portfolio-wrapper {
	display: grid;
    grid-template-columns: [col] 1fr [col] 1fr [col] 1fr ;
    grid-template-rows: [row] 9fr [row] 9fr [row] 9fr [row] 1fr;
    margin: 0;
    padding: 0;
}

.box {
	background-color: #010101;
	color: #010101;
	padding: 20px;
	font-size: 150%;
}

/*************ABOUT*************/

.about-profile {
    background: url("../img/profile.jpg") no-repeat;
    background-position: center;
	grid-column: col 1;
	grid-row: row;
    background-color: #eee;
}

.about-text {
	grid-column: col 2 / span 2;
	grid-row: row;
    background-color: #010101;
    color: #c2c2c2;
}

.about-text-text {
    padding: 0 10% 0 15%;
}

.about-head, .about-portfolio {
    font-size: 1.5em;
    letter-spacing: .6em;
    margin-bottom: 5%;
    margin-top: 25%;
}

.about-body {
    line-height: 1.5em;
    letter-spacing: .07em;
}

/*************PORTFOLIO*************/

.portfolio-illustration {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/illustration.jpg") no-repeat;
    background-position: center;
	grid-column: col;
	grid-row: row 2;
    min-height: 100%;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: .6em;
    text-align: center;
}

.portfolio-illustration:hover {
    background: url("../img/illustration.jpg") no-repeat;
    background-position: center;
}

.portfolio-photography {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/photography.jpg") no-repeat;
    background-position: center;
	grid-column: col 2;
	grid-row: row 2;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: .6em;
    text-align: center;
}

.portfolio-photography:hover {
    background: url("../img/photography.jpg") no-repeat;
    background-position: center;
}

.portfolio-web {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/web.jpg") no-repeat;
    background-position: center;
	grid-column: col 3;
	grid-row: row 2;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: .6em;
    text-align: center;
}

.portfolio-web:hover {
    background: url("../img/web.jpg") no-repeat;
    background-position: center;
}

.portfolio-text {
    margin: 65% 0 0 0;
}

/*************BLOG*************/

.portfolio-blog {
    background: linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("../img/blog.jpg") no-repeat;
    background-position: center;
    grid-column: col 1 / span 3;
    grid-row: row 3;
    background-color: #333;
}

.blog-text {
    max-width: 50%;
}

.blog-text-inner {
    text-align: right;
    margin-top: 10em;
    color: #c2c2c2;
}

.blog-text-inner p {
    font-size: 1.2em;
    letter-spacing: .5em;
    margin-right: .4em;
    margin-top: 5em;
    font-weight: 300;
}

.blog-text-inner h1 {
    font-weight: 400;
    font-size: 1.7em;
    letter-spacing: .7em;
}

.portfolio-blog a:link, .portfolio-blog a:visited {
    text-decoration-line: none;
    color: #c2c2c2;
}

.portfolio-blog a:hover, .portfolio-blog a:active {
    color: #e31313;
}


/*************FOOTER*************/

.footer {
    display: grid;
    grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr;
    grid-template-rows: [row] 1fr [row] 1fr;
    grid-column: col 1 / span 3;
    background-color: #010101;
    color: #c2c2c2;
    padding: 10px
}


.footer a:link, .footer a:visited {
    text-decoration-line: none;
    color: #c2c2c2;
}

.footer a:hover, .footer a:active {
    color: #e31313;
}


.footer-contact {
    grid-column: col 1 / span 4;
    grid-row: row 1;
    margin-bottom: 10px;
    letter-spacing: .4em;
}

.footer-phone {
    grid-column: col 1;
    grid-row: row 2;
}

.footer-email {
    grid-column: col 2 / span 1;
    grid-row: row 2;
}

.footer-twitter {
    grid-column: col 3 / span 1;
    grid-row: row 2;
}

.footer-github {
    grid-column: col 4 / span 1;
    grid-row: row 2;
}
